/*设置奇数行颜色*/
.my-sticky-header-table tr:nth-child(odd) {
  background: #F8F8FF
}

/*固定头部标题*/
.my-sticky-header-table thead tr th {
  position: sticky;
  z-index: 1;
}

.my-sticky-header-table thead tr:first-child th {
  top: 0;
}

/*多选框颜色*/
.my-sticky-header-table .q-checkbox__inner .q-checkbox__bg {
  border: 1px solid #1976d2;
  outline: 1px solid white;
}

.my-sticky-header-table .q-checkbox__inner--truthy .q-checkbox__bg {
  background: #1976d2;
  border: 1px solid #1976d2;
}

.my-sticky-header-table .q-checkbox__inner--indet .q-checkbox__bg {
  background: #1976d2;
  border: 0px solid #1976d2;
}

/*分页居右*/
.my-sticky-header-table .pagination {
  position: absolute;
  justify-content: flex-start;
  right: 1%;
  bottom: 10;
}

.my-sticky-header-table .pagination-input {
  display: inline-block;
  width: 55px;
  margin: 0 5px;
}

/*表格底部设置*/
.my-sticky-header-table .q-table__bottom {
  justify-content: flex-start;
  height: 10%;
}

/*选中后字体颜色改变*/
.my-sticky-header-table .selected {
  color: #1976d2;
}


/* 插槽之前 */
.my-sticky-header-table strong {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.my-sticky-header-table .operation_input {
  width: 200px;
  float: left;
  margin-right: 10px;
}

.my-sticky-header-table .operation_update {
  float: left;
  height: 37px;
  width: 140px;
  margin-right: 10px;
}

.my-sticky-header-table .operation {
  float: left;
  height: 37px;
  width: 80px;
  margin-right: 10px;
}

/* 弹窗 */
.dialog_card {
  width: 700px;
  max-width: 50%;
  height: 300px;
  max-height: 45%;
}

/* .my-sticky-header-table .dialog_card_section {
  width: 100%;
  height: 60px;
} */

/* 弹框滚动条 */
.scroll_area {
  width: 100%;
  height: 200px;
  margin-top: 0px;
}

.my-sticky-header-table .dialog_card_section1 {
  width: 100%;
  height: 40px;
}

.section_content {
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  margin-top: 15px;
}

.content_name {
  width: 20%;
  height: 40px;
  float: left;
  text-align: left;
  line-height: 40px;
}

.content_value {
  height: 40px;
  float: left;
  margin-right: 10px;
}

/* 插槽之后 */
.my-sticky-header-table .q-table__bottom span {
  margin-right: 5px;
}

.my-sticky-header-table .q-table__bottom .q-select {
  margin-right: 5px;
}

.my-sticky-header-table .q-table__bottom .q-pagination {
  float: left;
}